@{
    ViewData["Title"] = "Home Page";
}
<div id="content"></div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js">
    </script>






    <script src="~/Scripts/Config.js"></script>
    <script src="~/Scripts/CardComponent.jsx"></script>
    <script src="~/Scripts/EvaluationProgressBar.jsx"></script>

    
    <script src="~/Scripts/ShipReview.jsx"></script>
    <script src="~/Scripts/Reviews.jsx"></script>
    <script src="~/Scripts/Base.jsx"></script>
}


